<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taqtile.onboard" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taqtile.onboard.MainActivity" />
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taqtile.onboard.MainActivity" />
        </activity>
        <activity
            android:name=".ListUserActivity"
            android:label="@string/title_activity_list_user"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taqtile.onboard.MainActivity" />
        </activity>
        <activity
            android:name=".UserInformationActivity"
            android:label="@string/title_activity_user_information"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taqtile.onboard.MainActivity" />
        </activity>
        <activity
            android:name=".UserDetails"
            android:label="@string/title_activity_user_details"
            android:parentActivityName=".UserInformationActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taqtile.onboard.UserInformationActivity" />
        </activity>
        <activity
            android:name=".testHttpRequest"
            android:label="@string/title_activity_test_http_request"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ShowUserDetails"
            android:label="@string/title_activity_show_user_details"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".JsonVolleyActivity"
            android:label="@string/title_activity_json_volley"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taqtile.onboard.MainActivity" />
        </activity>
        <activity
            android:name=".NewUserActivity"
            android:label="@string/title_activity_new_user"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".InsertedActivity"
            android:label="@string/title_activity_inserted"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ChangeActivity"
            android:label="@string/title_activity_change"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UserInformationFinalActivity"
            android:label="@string/title_activity_user_information_final"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UserDetails2"
            android:label="@string/title_activity_user_details2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NewUser2"
            android:label="@string/title_activity_new_user2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
